*{

  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Inter', sans-serif;
  /* border: 1px solid red; */
  
}

body{

  background-color: #FCF6F0;

}

a{

  text-decoration: none;

}

/* ========== ESTILOS DE LA NAVBAR ========== */

/* ----- Generales ----- */
.navbar {

  display: flex;
  position: sticky;
  height: 12.5vh;
  align-items: center;
  background: linear-gradient(
  90deg,
  #ecebe8 0%,
  #efeeeb 35%,
  #f2f1ee 50%,
  #f5f3f0 65%,
  #faf8f5 100%
  );

}

.opciones {

  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
  font-size: 0.85rem;
  font-weight: 500;

}

/* ----- BISKIT ----- */

.navbar > a{

  display: flex;

}

.nombre{

  padding-left: 30px;

}

.icono{

  padding-left: 10px;

}

/* ----- Páginas ----- */
.paginas a{

  color: #6D6155;
  margin: 0px 20px; 
  transition: color 0.25s ease;

}

.paginas a:hover{

  color: #2B5392;

}


/* ----- Botón Contáctanos ----- */
.contacto{

  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #2B5392;
  border-radius: 12px;
  margin-left: 15px;
  transition: background-color 0.25s ease;

}

.contacto:hover{

  background-color: #1A3A6B;

}

.contacto p{

  color: #FCF6F0;
  margin-right: 10px;
  margin-left: 17.5px;

}

.contacto img{

  margin-left: 5px;

}